
.Nav-bar {
  background-color: #222;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 20px 100px 0 100px;
}

.Nav {
  border-bottom: 3px solid #eef0f2;
  color: #eef0f2;
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.8;
  padding: 10px 0;
  text-decoration: none;
}

.Nav:hover,
.Nav-bar .selected {
  border-bottom: 3px solid #0892a5;
  color: #0892a5;
  opacity: 1.0;
}

@media screen and (max-width: 600px) {
  .Nav-bar {
    display: block;
    padding: 20px 0 0 0;
    width: 100%;
  }

  .Nav {
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: 70%;
  }
}
