.ViewAll {
  color: #eef0f2;
  font-weight: 300;
  position: relative;
  box-sizing: border-box;
}

.ViewAll .search-bar {
  border: 1px solid #eef0f2;
  position: absolute;
  right: 24px;
  top: -75px;
}

.ViewAll h2 {
  font-size: 2rem;
  margin: 40px;
  text-align: center;
}

.ViewAll table {
  margin: 100px auto 0 auto;
  width: 90%;
}

.ViewAll button {
  width: 100%;
}

.ViewAll table thead {
  border-bottom: 1px solid #eef0f2;
}

.ViewAll table thead th {
  padding-bottom: 20px;
  font-weight: 400;
}

.ViewAll table tbody td,
.ViewAll table thead th {
  text-align: left;
  padding: 10px;
  min-width: 70px;
}

.ViewAll input:focus {
  border: 2px solid #0892a5;
}

.editable-true {
  border: 1px solid #eef0f2;
  outline: none;
}

.editable-true:focus {
  border: 2px solid #0892a5;
}