.ViewAll {
  color: #eef0f2;
  position: relative;
}

.ViewAll .search-bar {
  position: fixed;
  border: 1px solid #eef0f2;
  right: 0;
  top: 150px;
}

.ViewAll h2 {
  margin: 40px;
  font-size: 2rem;
  text-align: center;
}

.ViewAll table {
  width: 90%;
  margin: 100px auto;
}

