.Landing {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  height: 100%;
  margin: 0 auto;
}

.Landing a {
  color: #eef0f2;
  font-size: 1.4em;
  font-weight: 300;
  margin: 30px;
  text-decoration: none;
}

.Landing h2 {
  font-size: 2rem;
  margin: 50px;
  text-align: center;
}

.Landing .selection {
  border: 1px solid yellow;
  min-width: 150px;
  text-align: center;
  width: 21%;
}

.Landing .selection:hover {
  border: 1px solid #0892a5;
}

.Landing .selection:hover > a {
  color: #0892a5;
}

.Landing .center-links {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.Landing img {
  display: block;
  height: 70px;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .Landing .center-links {
    display: block;
    margin: auto;
  }

  .Landing .selection {
    margin: 20px auto;
    height: 200px;
    width: 100%;
  }

  .Landing .selection div {
    margin-top: 25px;
  }
}
