.Landing {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.Landing a {
  color: #eef0f2;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.4em;
  margin: 30px;
}

.Landing h2 {
  font-size: 2rem;
  text-align: center;
  margin: 50px;
}

.Landing .selection {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  width: 21%;
  text-align: center;
}

.Landing .selection:hover {
  border: 1px solid #0892a5;
}

.Landing .selection:hover > a {
  color: #0892a5;
}

.Landing .center-links {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 71%;
}

.Landing img {
  height: 70px;
  margin-top: 20px;
}
