.Reports {
  height: 100%;
}

.Reports h2 {
  text-align: center;
  margin: 40px;
}

.Reports form {
  padding: 20px 0;
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
