.Reports {
  font-weight: 300;
}

.Reports h3 {
  display: block;
  font-size: 1.25rem;
}

.Reports form {
  margin: auto;
  padding: 30px;
  text-align: center;
  width: 70%;
}

.Reports form .choose-location,
.Reports form .choose-dates {
  text-align: center;
}

.Reports form input,
.Reports form select {
  margin: 20px 0 ;
  min-width: 240px;
}

.Reports form input {
  margin: 20px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 80%;
}

.dashboard div {
  border: 5px solid #0892a5;
  border-radius: 100%;
  text-align: center;
  margin: 10px;
  min-height: 200px;
  min-width: 200px;
}

.dashboard div h4 {
  margin: 28px;
}

.dashboard div h3 {
  font-size: 3rem;
}

.graph {
  margin: auto;
  padding-bottom: 100px;
  text-align: center;
  width: 70%;
}

.js-chart-container {
  width: 100%;
}

.y-label {
  position: relative;
  right: 20px;
  top: 225px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  width: 100px;
}

.x-label {
  padding: 30px;
}

@media screen and (max-width: 1100px) {
  .dashboard {
    flex-wrap: wrap;
    width: 50%;
  }
}

@media screen and (max-width: 1020px) {
  .choose-dates {
    margin: auto;
    width: 70%;
  }

  .choose-dates input {
    padding: 0;
    padding-left: 10px;
    width: 95%;
  }

  .Reports form input {
    margin: 20px 0;
  }

  .choose-dates label {
    display: block;
    margin-left: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 920px) {
  .dashboard div {
    margin: 15px auto;
  }
}

@media screen and (max-width: 475px) {
  .Reports form input,
  .Reports form select {
    margin-left: -10px;
  }
}

@media screen and (max-width: 430px) {
  .Reports form input,
  .Reports form select {
    margin-left: -25px;
  }
}