.Reports .dashboard {
  display: flex;
  justify-content: center;
}

.Reports .dashboard div {
  width: 100%;
}

.Reports h2 {
  text-align: center;
  margin: 40px;
}

.Reports form {
  margin: 20px;
  border: 1px solid red;

}
